@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #036b80;
  --hover-color: #024d5c;
  --white-color: #fefefe;
  --black-color: #131635;
  --border-color: #cccccccc;
  --main-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

/* Custom Scrollbar Styles */

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) #f1f1f1;
}

/* Charts */

.line-spark path {
  stroke: var(--primary);
  box-shadow: 0 0 5px var(--primary) !important;
}

/* Tags */

.positive-tag {
  color: #04cc97;
  background-color: #e6faf5;
}
.negative-tag {
  color: #e31919;
  background-color: #fce8e8;
}
